<%- include('header') -%>
    <h1>Crea Pelicula</h1>
    <form action="/peliculas/crear" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="titulos">
        </div>
        <div>
            <label for="">Premios</label>
            <input type="text" name="premios">
        </div>
        <div>
            <label for="">Duracion</label>
            <input type="text" name="length">
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating">
        </div>
        <div>
            <label for="">Fecha de estreno</label>
            <input type="date" name="realease_date">
        </div>
        <div>
            <label for="">Generp</label>
            <select name="genero">
                <% for (let i = 0; i < generos.length; i++) { %>
                    <option value="<%=generos[i].id%>">
                        <%=generos[i].name%> 
                    </option>
                <% } %>           
            </select>        
        </div>
        <button type="submit">Crear!</button>
    </form>
<%- include('footer') -%>